@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/MinionPro-Regular.eot');
    src: local('Minion Pro Regular'), local('MinionPro-Regular'),
    url('../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MinionPro-Regular.woff') format('woff'),
    url('../fonts/MinionPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas-Regular.eot');
    src: url('../fonts/Bebas-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Bebas-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg'),
    url('../fonts/BebasNeueRegular.ttf') format('truetype'),
    url('../fonts/BebasNeueRegular.woff') format('woff'),
    url('../fonts/BebasNeueRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro.eot');
    src: local('../fonts/DIN Pro'), local('DINPro'),
    url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro.woff') format('woff'),
    url('../fonts/DINPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro-Medium.eot');
    src: local('../fonts/DIN Pro Medium'), local('DINPro-Medium'),
    url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro-Medium.woff') format('woff'),
    url('../fonts/DINPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro-BlackItalic.eot');
    src: local('../fonts/DIN Pro Black Italic'), local('DINPro-BlackItalic'),
    url('../fonts/DINPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro-BlackItalic.woff') format('woff'),
    url('../fonts/DINPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro-MediumItalic.eot');
    src: local('../fonts/DIN Pro Medium Italic'), local('DINPro-MediumItalic'),
    url('../fonts/DINPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro-MediumItalic.woff') format('woff'),
    url('../fonts/DINPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro-Bold.eot');
    src: local('../fonts/DIN Pro Bold'), local('DINPro-Bold'),
    url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro-Bold.woff') format('woff'),
    url('../fonts/DINPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro-Italic.eot');
    src: local('../fonts/DIN Pro Italic'), local('DINPro-Italic'),
    url('../fonts/DINPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro-Italic.woff') format('woff'),
    url('../fonts/DINPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro-BoldItalic.eot');
    src: local('../fonts/DIN Pro Bold Italic'), local('DINPro-BoldItalic'),
    url('../fonts/DINPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro-BoldItalic.woff') format('woff'),
    url('../fonts/DINPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'DIN Pro Cond';
    src: url('../fonts/DINPro-CondensedRegular.eot');
    src: local('../fonts/DIN Pro Condensed Regular'), local('DINPro-CondensedRegular'),
    url('../fonts/DINPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro-CondensedRegular.woff') format('woff'),
    url('../fonts/DINPro-CondensedRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
