@import "../const/variables";
.advantages {
  background: #002c39 url("@{url-img}sections/advantages_bg.jpg") no-repeat center top;
  background-size: cover;
  padding: @section-padding;
  position: relative;
  &__inner {
    color: #fff;
    font-family: @dinpro;
    text-align: center;
    margin-bottom: 90px;
    .advantages__title {
      color: #fff;
      font-size: @size-title;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    .advantages__subtitle {
      font-size: 24px;
      text-transform: uppercase;
      line-height: 1.5;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .advantages__item {
    background: #ef7f1a;
    border-radius: 3px;
    width: 23%;
    height: auto;
    padding: 10px 10px 60px 10px;
    position: relative;
    .advantages__header {
      max-height: 196px;
      position: relative;
      .circle {
        display: block;
        max-width: 200px;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        position: relative;
      }
      .lamp {
        display: block;
        max-width: 140px;
        max-height: 154px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -65%);
      }
      .lamp_active {
        display: none;
        max-width: 140px;
        max-height: 154px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -65%);
      }
    }
    .advantages__item__content {
      width: 100%;
      padding-top: 10px;
      .advantages__item__title {
        font-family: @myriad;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      .advantages__item__description {
        font-family: @dinpro;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.5;
      }
      .price {
        position: absolute;
        left: 50%;
        bottom: 5%;
        width: 100%;
        transform: translate(-50%, -5%);
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .advantages__item__price {
          font-family: @bebas-neue;
          font-size: 20px;
          letter-spacing: 2px;
          margin-top: 2px;
          font-weight: bold;
        }
      }
      .advantages__content__link {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
  .advantages__item:hover .lamp {
    display: none;
  }
  .advantages__item:hover .lamp_active {
    display: block;
  }
  &__content_mobile {
    display: none;
  }
}