@import "../const/variables";
::placeholder {
  color: #F2F1F0;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #F2F1F0;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #F2F1F0;
}
.contacts {
  background: #012a36 url("@{url-img}sections/contact_bg.png") no-repeat center top;
  background-size: cover;
  padding: @section-padding;
  position: relative;
  box-sizing: border-box;
  .contacts__inner {
    color: #fff;
    font-family: @dinpro;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 7px;
    margin-bottom: 120px;
    .contacts__title {
      font-size: @size-title;
      margin-bottom: 16px;
    }
    .contacts__subtitle {
      font-size: 34px;
    }
  }
  .contacts__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
    .contacts__address {
      width: 52%;
      .address {
        color: #fff;
        font-family: @dinpro;
        font-size: 28px;
        line-height: 1.2;
        padding: 10px;
        .address__title {
          display: block;
          margin-bottom: 12px;
        }
        .address__location {
          display: block;
          margin-bottom: 12px;
        }
      }
      .address__connection {
        .connection__table {
          .connection__contact {
            text-align: right;
          }
          .connection__contact a {
            color: #fff;
          }
        }
      }
    }
    .contacts__feedback {
      width: 48%;
      padding: 10px;
      .forma {
        .feedback__title {
          display: block;
          color: #fff;
          font-family: @dinpro;
          font-size: 28px;
          margin-bottom: 12px;
        }
        .form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .forma__fio, .forma__email, .form__message {
            padding: 10px 18px;
            background: #ef7f1a;
            border-radius: 3px;
            border: none;
            margin-bottom: 20px;
          }
          .forma__fio, .forma__email {
            width: 48%;
          }
          .form__message {
            width: 100%;
            height: 160px;
          }
          .submit {
            text-align: center;
            width: 100%;
            .submit-send {
              color: #000;
              font-size: 21px;
              font-family: @dinpro;
              background-color: #fff;
              padding: 16px 70px;
              border-radius: 3px;
              border: none;
              text-transform: uppercase;
            }
          }
          .forma__fio::-webkit-input-placeholder  {
            font-family: @dinpro;
            opacity: 1; transition: opacity 0.3s ease;
          }
          .forma__fio::-moz-placeholder   {
            font-family: @dinpro;
            opacity: 1; transition: opacity 0.3s ease;
          }
          .forma__fio:-moz-placeholder    {
            font-family: @dinpro;
            opacity: 1; transition: opacity 0.3s ease;
          }
          .forma__fio:-ms-input-placeholder    {
            font-family: @dinpro;
            opacity: 1; transition: opacity 0.3s ease;
          }
          .forma__email::-webkit-input-placeholder {
            font-family: @dinpro;
            opacity: 1; transition: opacity 0.3s ease;
          }
          .forma__email::-moz-placeholder {
            font-family: @dinpro;
            opacity: 1; transition: opacity 0.3s ease;
          }
          .forma__email:-moz-placeholder {
            font-family: @dinpro;
            opacity: 1; transition: opacity 0.3s ease;
          }
          .forma__email:-ms-input-placeholder {
            font-family: @dinpro;
            opacity: 1; transition: opacity 0.3s ease;
          }
          .form__message::-webkit-input-placeholder  {
            opacity: 1; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
          .form__message::-moz-placeholder  {
            opacity: 1; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
          .form__message:-moz-placeholder {
            opacity: 1; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
          .form__message:-ms-input-placeholder {
            opacity: 1; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
          .forma__fio:focus::-webkit-input-placeholder {
            opacity: 0; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
          .forma__fio:focus::-moz-placeholder {
            opacity: 0; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
          .forma__fio:focus:-moz-placeholder {
            opacity: 0; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
          .forma__fio:focus:-ms-input-placeholder {
            opacity: 0; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
          .forma__email:focus::-webkit-input-placeholder {
            opacity: 0; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
          .forma__email::-moz-placeholder {
            opacity: 0; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
          .forma__email:-moz-placeholder{
            opacity: 0; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
          .forma__email:-ms-input-placeholder{
            opacity: 0; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
          .form__message:-ms-input-placeholder {
            opacity: 0; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
          .form__message:focus::-webkit-input-placeholder  {
            opacity: 0; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
          .form__message:focus::-moz-placeholder  {
            opacity: 0; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
          .form__message:focus:-moz-placeholder  {
            opacity: 0; transition: opacity 0.3s ease;
            font-family: @dinpro;
          }
        }
      }
    }
  }
  .section-map {
    height: 400px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
  }
}