@import "../const/style";
.cooperation {
  background: #e9e9e9 no-repeat center top;
  background-size: cover;
  border-top: 1px solid #ffffff;
  padding: 118px 0;
/*  display: flex;
  justify-content: center;*/
  &__inner {
    margin-bottom: 30px;
    .cooperation__title {
      color: #ef7f1a;
      font-family: @dinpro;
      font-weight: bold;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase;
      font-size: @size-title;
    }
  }
  &-container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    .cooperation-logo {
      width: 100%;
      box-sizing: border-box;
      .table {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        border-collapse: collapse;
        .table-td {
          padding: 30px 16px;
          text-align: center;
          vertical-align: middle;
          height: 100%;
          .cooperation__img {
            max-width: 150px;
            width: 100%;
          }
        }
      }
    }
  }
}

