@import "../const/variables";
.intro {
  display: flex;
  background: #002c39 url("@{url-img}sections/intro_bg_new.jpg") no-repeat center top;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  /*min-height: @min-height;*/
  height: 100vh;
  position: relative;
  &__inner {
    display: flex;
    justify-content: center;
    /*    position: absolute;
        top: 50%;
        transform: translate(0, -50%);*/
    .intro__slogan {
      display: flex;
      justify-content: space-between;
      max-width: 808px;
      width: 100%;
      padding: 0 10px;
      .slogan__en {
        color: #fff;
        text-align: right;
        text-transform: uppercase;
        .slogan__en_large {
          font-family: @bebas;
          font-size: 78px;
          letter-spacing: 6px;
          word-spacing: 6px;
          margin-bottom: 16px;
          margin-top: -4px;
        }
        .slogan__en_small {
          color: #fff;
          text-transform: uppercase;
          font-size: 48px;
          font-family: @myriad;
          letter-spacing: 4px;
        }
      }
      .slogan__ru{
        color: #ef7f1a;
        text-transform: uppercase;
        position: relative;
        .slogan__ru_large {
          /*font-family: @bebas;*/
          font-family: @bebas-neue;
          font-size: 86px;
          letter-spacing: 17px;
        }
        .slogan__ru_small{
          font-size: 58px;
          font-family: @myriad;
          letter-spacing: 3px;
        }
      }
      .slogan__ru:before {
        background: white;
        border-radius: 50%;
        content: '';
        display: block;
        height: 20px;
        position: absolute;
        top: 50%;
        right: 100%;
        width: 20px;
        transform: translateX(-13px);
      }
    }
  }
}
.intro__mobile {
  display: none;
  .intro__mobile-content {
    display: flex;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    .intro__mobile-item {
      display: flex;
      flex-direction: column;
      width: 45%;
      .left-en, .left-ru {
        text-align: right;
      }
      .right-en, .right-ru {
        text-align: left;
      }
      .left-en, .right-en {
        font-size: 38px;
        font-family: @bebas;
        margin-bottom: 10px;
        letter-spacing: 4px;
      }
      .left-ru, .right-ru  {
        font-size: 28px;
        font-family: @myriad;
        color: #ef7f1a;
      }
      .left-ru {
        letter-spacing: 5px;
      }
    }
    .intro__mobile-item:first-child {
      margin-right: 16px;
    }
  }
}