.header {
    .header__img {
      display: block;
      width: 100%;
      max-width: 239px;
      height: auto;
      &--min {
        max-width: 170px;
      }
      &--max {
        max-width: 239px;
      }
    }
}
.header--fixed {
  .header__logo {
    .header__img {
      max-width: 150px;
    }
  }
}
