@import "../const/variables";
.header__nav--fixed {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav {
  display: flex;
  .nav__link {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    font-family: @dinpro;
    margin-left: 50px;
    text-transform: uppercase;
    font-style: normal;
    position: relative;
  }
  .nav__link:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ef7f1a;
    transition: width .2s;
  }
  .nav__link.active:after {
    width: 100%;
  }
  .nav__link:first-child {
    margin-left: 0;
  }
/*  .nav__link:hover {
    opacity: .5;
    transition: opacity .1s linear; !*Плавная прозрачность*!
  }*/
  .nav__link:hover:after {
    width: 100%;
  }
}
.header--fixed {
  .nav{
    .nav__link {
      font-size: 16px;
    }
    &__link--desk{
      padding: 0 16px;
    }
  }
}
.header--fixed {
  .nav{
    &__link--mob{
      padding: 40px 16px 4px;
    }
  }
}
/*БУРГЕР*/
.burger {
  display: none;
}
.menu-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  /*background-color: #EF7F1A;*/
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.375);
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  /*left: 50%;*/
  /*margin-left: -10px;*/
  width: 40px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-14px);
}
.menu-btn span::after {
  transform: translateY(12px);
}
.menu-btn.active span:before {
  transform: rotate(45deg);
}
.menu-btn.active span:after {
  transform: rotate(-45deg);
}
.menu-btn.active span {
  height: 0;
}