@import "../const/variables";
.work {
  background: #012a36 url("@{url-img}sections/work_bg.jpg") no-repeat center top;;
  background-size: cover;
  padding: @section-padding;
  .work__inner {
    width: 100%;
    text-align: center;
    margin-bottom: 44px;
    .work__title {
      color: #ffffff;
      font-family: @dinpro;
      font-size: @size-title;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 50px;
      text-transform: uppercase;
    }
    .work_subtitle {
      background-color: #EF7F1A;
      border-radius: 5px;
      color: #ffffff;
      font-family: @dinpro;
      font-size: 22px;
      font-weight: normal;
      line-height: 1;
      padding: 10px;
      text-align: center;
      width: 100%;
      .work_subtitle__text {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  .portfolio__inner {
    .portfolio__title {
      color: #fff;
      font-family: @dinpro;
      font-size: 60px;
      font-weight: bold;
      margin: 50px 0;
      text-transform: uppercase;
    }
    .portfolio__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .portfolio__item {
        width: 23%;
        margin-bottom: 20px;
        position: relative;
        .portfolio__img {
          border-radius: 5px;
          width: 100%;
        }
        .play__circle {
          display: block;
          border: 4px solid #ef7f1a;
          border-radius: 50%;
          width: 100px;
          height: 100px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 100;
          opacity: 0;
          transition: opacity 0.2s, visibility 0s linear 0.2s;
        }
        .play__triangle {
          font-size: 0;
          display: block;
          width: 30px;
          height: 0;
          border-top: 20px solid transparent;
          border-left: 40px solid #ef7f1a;
          border-bottom: 20px solid transparent;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-40%, -50%);
          opacity: 0;
          transition: opacity 0.2s, visibility 0s linear 0.2s;
        }
      }
      .portfolio__item:hover {
        opacity: .8;
      }
      .portfolio__item:hover .play__circle {
        opacity: 1;
      }
      .portfolio__item:hover .play__triangle {
        opacity: 1;
      }
      .portfolio__item a:link, a:visited, a:hover, a:focus, a:active {
        border: 0;
        outline: 0;
      }
    }
  }
}