@media screen and (max-width: 1024px) {
  /*=====ЛОГО=====*/
  .header__logo .header__img {
    max-width: 190px;
  }
  /*=====НАВИГАЦИЯ=====*/
  .nav__item .nav__link {
    margin-left: 30px;
  }
  /*=====КОНТАКТЫ=====*/
  .contacts .contacts__content .contacts__address .address {
    font-size: 25px;
  }
  .contacts .contacts__content .contacts__feedback .forma .feedback__title {
    font-size: 25px;
  }
  .contacts .contacts__content .contacts__feedback .forma .form .submit .submit-send {
    font-size: 18px;
  }
}

/*# sourceMappingURL=1024.css.map */
