@media screen and (max-width: 420px) {
  .header .header__logo .header__img {
    max-width: 140px;
  }
  .advantages {
    padding: 48px 0;
  }
  .advantages .advantages__inner {
    margin-bottom: 48px;
  }
  .advantages .advantages__inner .advantages__title {
    font-size: 30px;
    margin-bottom: 16px;
  }
  .advantages .advantages__inner .advantages__subtitle {
    font-size: 18px;
  }
  .advantages .advantages__content {
    display: none;
  }
  .advantages .advantages__content_mobile {
    display: block;
  }
  .advantages .advantages__content_mobile .advantages__item {
    width: 80%;
    margin: 0 auto;
    height: 401px;
  }
  .cooperation {
    padding: 48px 0;
  }
  .cooperation__inner {
    margin-bottom: 16px;
  }
  .cooperation__inner .cooperation__title {
    font-size: 30px;
  }
  .work {
    padding: 48px 0;
  }
  .work .work__inner {
    margin-bottom: 48px;
  }
  .work .work__inner .work__title {
    font-size: 30px;
    margin-bottom: 16px;
  }
  .work .portfolio__inner .portfolio__title {
    text-align: center;
    font-size: 30px;
    margin: 0 0 16px 0;
  }
  .work .portfolio__inner .portfolio__content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work .portfolio__inner .portfolio__content .portfolio__item {
    width: 33.3333%;
    margin-left: 20px;
  }
  .contacts {
    padding: 48px 0;
  }
  .contacts .contacts__inner {
    margin-bottom: 48px;
  }
  .contacts .contacts__inner .contacts__title {
    font-size: 30px;
  }
  .contacts .contacts__inner .contacts__subtitle {
    font-size: 18px;
  }
  .contacts .contacts__content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .contacts .contacts__content .contacts__address {
    width: 100%;
  }
  .contacts .contacts__content .contacts__feedback {
    width: 100%;
  }
}

/*# sourceMappingURL=420.css.map */
