@import "../const/variables";
.footer {
  background: url("@{url-img}sections/footer_bg.png") no-repeat center top;
  background-size: cover;
  height: 150px;
  .social {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__item {
      display: flex;
      justify-content: center;
      .social__link {
        display: block;
        .social__icon {
          fill: #002b38;
          width: 50px;
          height: 50px;
        }
      }
      .social__link:first-child {
        margin-right: 50px;
      }
    }
  }
}