.header {
  padding: 0 70px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  .header__container {
    max-width: 1900px;
    width: 100%;
    .header__inner {
      display: flex;
      justify-content: space-between;
      padding: 16px 0;
      align-items: center;
    }
  }
  &.active {
    background: #ef7f1a;
  }
}
.header--fixed {
  background: #002b38;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: .9;
  z-index: 2;
  transform: translate3d(0, 0, 0); /*Чтобы меню не дергалос при скроле*/
  .header__container {
    .header__inner {
      padding: 8px 0;
    }
  }
}