@size-title: 30px;
@size-subtitle: 18px;
@section-padding: 48px 0;
@media screen and (max-width: 420px) {
  .intro {
    .intro__mobile {
      .intro__mobile-content {
        .intro__mobile-item {
          width: 45%;
        }
      }
    }
  }
  .contacts {
    .contacts__content {
      .contacts__address {
        .address {
          .contact__email {
            font-size: 11px;
          }
        }
      }
    }
  }
}
