@size-title: 30px;
@size-subtitle: 18px;
@section-padding: 48px 0;
@media screen and (max-width: 420px) {
  .header {
    .header__logo {
      .header__img {
        max-width: 140px;
      }
    }
  }
  .advantages {
    padding: @section-padding;
    .advantages__inner {
      margin-bottom: 48px;
      .advantages__title {
        font-size: @size-title;
        margin-bottom: 16px;
      }
      .advantages__subtitle {
        font-size: @size-subtitle;
      }
    }
    .advantages__content {
      display: none;
    }
    .advantages__content_mobile {
      display: block;
      .advantages__item {
        width: 80%;
        margin: 0 auto;
        height: 401px;
      }
    }
  }
  .cooperation {
    padding: @section-padding;
    &__inner {
      margin-bottom: 16px;
      .cooperation__title {
      font-size: @size-title;
      }
    }
  }
  .work {
    padding: @section-padding;
    .work__inner {
      margin-bottom: 48px;
      .work__title {
        font-size: @size-title;
        margin-bottom: 16px;
      }
    }
    .portfolio__inner {
      .portfolio__title {
        text-align: center;
        font-size: @size-title;
        margin: 0 0 16px 0;
      }
      .portfolio__content {
        justify-content: center;
        .portfolio__item {
          width: 33.3333%;
          margin-left: 20px;
        }
      }
    }
  }
  .contacts {
    padding: @section-padding;
    .contacts__inner {
      margin-bottom: 48px;
      .contacts__title {
        font-size: @size-title;
      }
      .contacts__subtitle {
        font-size: @size-subtitle;
      }
    }
    .contacts__content {
      flex-wrap: wrap;
      .contacts__address {
        width: 100%;
      }
      .contacts__feedback {
        width: 100%;
      }
    }
  }
}