@size-subtitle: 18px;
@media screen and (max-width: 768px) {
  .header {
    padding: 0 24px;
    .header__container {
      .header__inner {
        .header__logo {
          .header__img {
            max-width: 120px;
          }
        }
      }
    }
  }
  .intro {
    .intro__inner {
      display: none;
    }
    .intro__mobile {
      display: block;
    }
  }
  .advantages {
    .advantages__content {
      justify-content: center;
      .advantages__item {
        width: 33.3333%;
        margin-left: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .work {
    .work__inner {
      .work_subtitle {
        font-size: @size-subtitle;
      }
    }
  }
  .contacts {
    .contacts__content {
      .contacts__address {
        .address {
          font-size: @size-subtitle;
        }
      }
      .contacts__feedback {
        .forma {
          .feedback__title {
            font-size: @size-subtitle;
          }
          .form {
            flex-direction: column;
            .forma__fio, .forma__email, .form__message {
              width: 100%;
              margin-bottom: 8px;
            }
            .submit {
              .submit-send {
                width: 100%;
                font-size: @size-subtitle;
              }
            }
          }
        }
      }
    }
  }
}