@size-title: 40px;
@size-subtitle: 22px;
@section-padding: 70px 0;
@media screen and (max-width: 900px) {
  .header {
    background: #002b38;
    padding: 0 30px;
    .header__container {
      .header__inner {
        .header__logo {
          .header__img {
            max-width: 150px;
          }
        }
        .nav {
          background: #002b38;
          display: none;
          position: absolute;
          right: 0;
          top: 100%;
          flex-direction: column;
          text-align: center;
          width: 100%;
          .nav__link {
            margin: 0;
            padding: 10px 15px;
          }
        }
        .nav {
          &.show {
            display: flex;
            padding-bottom: 26px;
          }
        }
        .burger {
          display: flex;
        }
      }
    }
  }
  .header--fixed {
    .header__container {
      .header__inner {
        .nav {
          top: 100%;
        }
      }
    }
  }
  .intro {
    .intro__inner {
      .intro__slogan {
        max-width: 676px;
        .slogan__en {
          .slogan__en_large {
            font-size: 60px;
            margin-bottom: 16px;
          }
          .slogan__en_small {
            font-size: 43px;
          }
        }
        .slogan__ru {
          .slogan__ru_large {
            font-size: 68px;
          }
          .slogan__ru_small {
            font-size: 49px;
          }
        }
      }
    }
  }
  .advantages {
    padding: @section-padding;
    .advantages__inner {
      .advantages__title {
        font-size: @size-title;
      }
      .advantages__subtitle {
        font-size: @size-subtitle;
      }
    }
  }
  .cooperation {
    padding: @section-padding;
    &__inner {
      .cooperation__title {
      font-size: @size-title;
      }
    }
  }
  .work {
    padding: @section-padding;
    .work__inner {
      .work__title {
        font-size: @size-title;
      }
    }
    .portfolio__inner {
      .portfolio__title {
        font-size: @size-title;
      }
    }
  }
  .contacts {
    padding: @section-padding;
    .contacts__inner {
      margin-bottom: 70px;
      .contacts__title {
        font-size: @size-title;
      }
      .contacts__subtitle {
        font-size: @size-subtitle;
      }
    }
    .contacts__content {
      flex-wrap: wrap;
      /*justify-content: center;*/
      .contacts__address {
        width: 100%;
        .address {
          font-size: @size-subtitle;
        }
      }
      .contacts__feedback {
        width: 80%;
        .forma {
          .feedback__title {
            font-size: @size-subtitle;
          }
        }
      }
    }
  }
}