::-webkit-input-placeholder {
  color: #F2F1F0;
}
::-moz-placeholder {
  color: #F2F1F0;
}
:-ms-input-placeholder {
  color: #F2F1F0;
}
::-ms-input-placeholder {
  color: #F2F1F0;
}
::placeholder {
  color: #F2F1F0;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #F2F1F0;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #F2F1F0;
}
.contacts {
  background: #012a36 url("../../images/sections/contact_bg.png") no-repeat center top;
  background-size: cover;
  padding: 118px 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contacts .contacts__inner {
  color: #fff;
  font-family: "DIN Pro", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 7px;
  margin-bottom: 120px;
}
.contacts .contacts__inner .contacts__title {
  font-size: 60px;
  margin-bottom: 16px;
}
.contacts .contacts__inner .contacts__subtitle {
  font-size: 34px;
}
.contacts .contacts__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}
.contacts .contacts__content .contacts__address {
  width: 52%;
}
.contacts .contacts__content .contacts__address .address {
  color: #fff;
  font-family: "DIN Pro", sans-serif;
  font-size: 28px;
  line-height: 1.2;
  padding: 10px;
}
.contacts .contacts__content .contacts__address .address .address__title {
  display: block;
  margin-bottom: 12px;
}
.contacts .contacts__content .contacts__address .address .address__location {
  display: block;
  margin-bottom: 12px;
}
.contacts .contacts__content .contacts__address .address__connection .connection__table .connection__contact {
  text-align: right;
}
.contacts .contacts__content .contacts__address .address__connection .connection__table .connection__contact a {
  color: #fff;
}
.contacts .contacts__content .contacts__feedback {
  width: 48%;
  padding: 10px;
}
.contacts .contacts__content .contacts__feedback .forma .feedback__title {
  display: block;
  color: #fff;
  font-family: "DIN Pro", sans-serif;
  font-size: 28px;
  margin-bottom: 12px;
}
.contacts .contacts__content .contacts__feedback .forma .form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__fio,
.contacts .contacts__content .contacts__feedback .forma .form .forma__email,
.contacts .contacts__content .contacts__feedback .forma .form .form__message {
  padding: 10px 18px;
  background: #ef7f1a;
  border-radius: 3px;
  border: none;
  margin-bottom: 20px;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__fio,
.contacts .contacts__content .contacts__feedback .forma .form .forma__email {
  width: 48%;
}
.contacts .contacts__content .contacts__feedback .forma .form .form__message {
  width: 100%;
  height: 160px;
}
.contacts .contacts__content .contacts__feedback .forma .form .submit {
  text-align: center;
  width: 100%;
}
.contacts .contacts__content .contacts__feedback .forma .form .submit .submit-send {
  color: #000;
  font-size: 21px;
  font-family: "DIN Pro", sans-serif;
  background-color: #fff;
  padding: 16px 70px;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__fio::-webkit-input-placeholder {
  font-family: "DIN Pro", sans-serif;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__fio::-moz-placeholder {
  font-family: "DIN Pro", sans-serif;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__fio:-moz-placeholder {
  font-family: "DIN Pro", sans-serif;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__fio:-ms-input-placeholder {
  font-family: "DIN Pro", sans-serif;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__email::-webkit-input-placeholder {
  font-family: "DIN Pro", sans-serif;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__email::-moz-placeholder {
  font-family: "DIN Pro", sans-serif;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__email:-moz-placeholder {
  font-family: "DIN Pro", sans-serif;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__email:-ms-input-placeholder {
  font-family: "DIN Pro", sans-serif;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.contacts .contacts__content .contacts__feedback .forma .form .form__message::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .contacts__content .contacts__feedback .forma .form .form__message::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .contacts__content .contacts__feedback .forma .form .form__message:-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .contacts__content .contacts__feedback .forma .form .form__message:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__fio:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__fio:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__fio:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__fio:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__email:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__email::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__email:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .contacts__content .contacts__feedback .forma .form .forma__email:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .contacts__content .contacts__feedback .forma .form .form__message:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .contacts__content .contacts__feedback .forma .form .form__message:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .contacts__content .contacts__feedback .forma .form .form__message:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .contacts__content .contacts__feedback .forma .form .form__message:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: "DIN Pro", sans-serif;
}
.contacts .section-map {
  height: 400px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

/*# sourceMappingURL=contacts.css.map */
