.header__nav--fixed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*  .nav__link:hover {
    opacity: .5;
    transition: opacity .1s linear; !*Плавная прозрачность*!
  }*/
}
.nav .nav__link {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  font-family: "DIN Pro", sans-serif;
  margin-left: 50px;
  text-transform: uppercase;
  font-style: normal;
  position: relative;
}
.nav .nav__link:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ef7f1a;
  -webkit-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
}
.nav .nav__link.active:after {
  width: 100%;
}
.nav .nav__link:first-child {
  margin-left: 0;
}
.nav .nav__link:hover:after {
  width: 100%;
}
.header--fixed .nav .nav__link {
  font-size: 16px;
}
.header--fixed .nav__link--desk {
  padding: 0 16px;
}
.header--fixed .nav__link--mob {
  padding: 40px 16px 4px;
}
/*БУРГЕР*/
.burger {
  display: none;
}
.menu-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  /*background-color: #EF7F1A;*/
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.375);
          box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.375);
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  /*left: 50%;*/
  /*margin-left: -10px;*/
  width: 40px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.menu-btn span::before {
  -webkit-transform: translateY(-14px);
      -ms-transform: translateY(-14px);
          transform: translateY(-14px);
}
.menu-btn span::after {
  -webkit-transform: translateY(12px);
      -ms-transform: translateY(12px);
          transform: translateY(12px);
}
.menu-btn.active span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-btn.active span:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu-btn.active span {
  height: 0;
}

/*# sourceMappingURL=nav.css.map */
