.work {
  background: #012a36 url("../../images/sections/work_bg.jpg") no-repeat center top;
  background-size: cover;
  padding: 118px 0;
}
.work .work__inner {
  width: 100%;
  text-align: center;
  margin-bottom: 44px;
}
.work .work__inner .work__title {
  color: #ffffff;
  font-family: "DIN Pro", sans-serif;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.work .work__inner .work_subtitle {
  background-color: #EF7F1A;
  border-radius: 5px;
  color: #ffffff;
  font-family: "DIN Pro", sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 1;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.work .work__inner .work_subtitle .work_subtitle__text {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.work .portfolio__inner .portfolio__title {
  color: #fff;
  font-family: "DIN Pro", sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin: 50px 0;
  text-transform: uppercase;
}
.work .portfolio__inner .portfolio__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work .portfolio__inner .portfolio__content .portfolio__item {
  width: 23%;
  margin-bottom: 20px;
  position: relative;
}
.work .portfolio__inner .portfolio__content .portfolio__item .portfolio__img {
  border-radius: 5px;
  width: 100%;
}
.work .portfolio__inner .portfolio__content .portfolio__item .play__circle {
  display: block;
  border: 4px solid #ef7f1a;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0s linear 0.2s;
  -o-transition: opacity 0.2s, visibility 0s linear 0.2s;
  transition: opacity 0.2s, visibility 0s linear 0.2s;
}
.work .portfolio__inner .portfolio__content .portfolio__item .play__triangle {
  font-size: 0;
  display: block;
  width: 30px;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 40px solid #ef7f1a;
  border-bottom: 20px solid transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-40%, -50%);
      -ms-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0s linear 0.2s;
  -o-transition: opacity 0.2s, visibility 0s linear 0.2s;
  transition: opacity 0.2s, visibility 0s linear 0.2s;
}
.work .portfolio__inner .portfolio__content .portfolio__item:hover {
  opacity: 0.8;
}
.work .portfolio__inner .portfolio__content .portfolio__item:hover .play__circle {
  opacity: 1;
}
.work .portfolio__inner .portfolio__content .portfolio__item:hover .play__triangle {
  opacity: 1;
}
.work .portfolio__inner .portfolio__content .portfolio__item a:link,
.work .portfolio__inner .portfolio__content a:visited,
.work .portfolio__inner .portfolio__content a:hover,
.work .portfolio__inner .portfolio__content a:focus,
.work .portfolio__inner .portfolio__content a:active {
  border: 0;
  outline: 0;
}

/*# sourceMappingURL=work.css.map */
