.section() {
  background-size: cover;
  min-height: 1000px;
  padding: 118px 0;
}
/*Contacts*/
.contact-text() {
  color: #FFFFFF;
  font-family: @dinpro;
  word-spacing: 7px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}