@url-img: "../../images/";
@section-padding: 118px 0;
@min-height: 1000px;
@size-title: 60px;
@contact-size: 34px;
@white: #fff;


//FONTS
@myriad: "Myriad Pro", sans-serif;
@bebas-neue: "Bebas Neue", sans-serif;
@bebas: "Bebas", sans-serif;
@dinpro: "DIN Pro", sans-serif;